/* 插件样式修改 */
.ant-tabs {
    height: 92%;
    background: white;

    .ant-tabs-bar {
        margin: 0;

        .ant-tabs-nav-container {

            .ant-tabs-nav-wrap {

                .ant-tabs-nav-scroll {
                    text-align: center;

                    .ant-tabs-ink-bar {
                        background-color: orangered;
                    }

                    .ant-tabs-nav {
                        .ant-tabs-tab:hover {
                            color: orangered;
                        }

                        .ant-tabs-tab-active {
                            color: orangered;
                        }
                    }
                }
            }
        }
    }
}

/* 自己的样式 */
.hotComment {
    background: white;

    .commentWall {
        position: relative;
        width: 3.57rem;
        height: 0.6rem;
        background: linear-gradient(to right, #265c88, #54585c 50%, #265c88);
        margin: .1rem auto;
        border-radius: 5px;

        .leftBox {
            width: 80%;
            height: 100%;
            float: left;
            padding: 0.1rem;

            .topBox {
                color: white;

                span {
                    font-size: .15rem;
                }

                .iconfont {
                    margin-left: .05rem;
                }
            }

            .mybottomBox {

                span {
                    color: #EEE;
                    font-size: .12rem;
                    font-weight: 100;
                }
            }
        }

        .rightBox {
            float: right;
            width: 20%;
            height: 100%;
            color: white;
            text-align: center;
            padding: .05rem;

            .topSpan {
                display: inline-block;
                font-size: .15rem;
                font-weight: bold;

            }

            .bottomSpan {
                display: block;
                font-size: .2rem;
                font-weight: bold;
            }
        }
    }


}

/* 瀑布流 */
html,
body {
    background: lightblue;
}

